.container-custom {
    margin-top: 5%;
}

.top-page {
    text-align: center;
    height: 105%;
    background: lightgray;
}

.jumbotron {
    width: 80%;
    height: 80%;
    margin-left: 10%;
}

.buttons-row {
    margin-top: 10%;
}

.drawing-window {
    margin-top: -3%;
}

.project-button {
    float:right;
}

.reset-button {
    margin-left: 25%;
}

.errorDialog {
     color: white;
     background-color: orangered;
     text-align: center;
     width: 25%;
     opacity: 50%;
     overflow-y: hidden;
     transition: 0.5s;
     top: -100%;
     left: 50%;
     position: fixed;
     z-index: 10;/*for putting this dialogue box over everithing*/
     border: 2px solid black;
     transform: translate(-50%, 0);
}

.successDialog {
    color: white;
    background-color: green;
    text-align: center;
    width: 25%;
    opacity: 50%;
    overflow-y: hidden;
    transition: 0.5s;
    top: -100%;
    left: 50%;
    position: fixed;
    z-index: 10;/*for putting this dialogue box over everithing*/
    border: 2px solid black;
    transform: translate(-50%, 0);
}

.errorDialog h1, .successDialog h1 {
    font-size: 24px;
}

.errorDialog a, .successDialog a {
    font-size: 24px;
    text-decoration: none;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}
